# Database
DATABASE_URL="postgresql://postgres:postgres@db:5432/jyuhacchu"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=jyuhacchu

# NextAuth
NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000
